
@font-face {
    font-family: 'Agrandir Grand Light';
    src: url('../../images/Agrandir-GrandLight.otf') format('opentype'); /* Update path */
    
    
    font-style: normal;
  }

.destination-container {
    text-align: center;
    
  }
  
  .destination-title {
    font-size: 2.5rem;
    color: #4A90E2;
  }
  
  .destination-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .destination-item {
    text-align: center;
  }
  
  .destination-image {
    border-radius: 8px;
    height: 600px;
    width: 400px;
  }
  
  .destination-name {
    margin-top: 1rem;
    font-weight: bold;
  }

  /* .footer {
    display: none;
  } */